
* {
	font-family: Georgia, Arial, Verdana, sans-serif;
	color: #ffecd5;
	text-align: center;
	background-color: #362e2b;
	font-size: 16px;
}

/*
		==========
		Biography
		==========
*/

p {
	text-align: left;
}

.bio p:first-child {
	line-height: 1;
	margin-top: 0;
}

.bio a:hover {
	color: #ccbdaa;
}

/*
		==========
		 Navigation Bar
		==========
*/

.nav a {
	text-decoration: none;
}

.btn, .btn-alt {
	border-color: #ffecd5;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	margin: 2px 0;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.btn:hover, .btn-alt:hover {
	background-color: #ffecd5;
	color: #362e2b;
}

.btn a:first-child {
	margin-bottom: 2px;
}

.btn a:last-child {
	margin-top: 2px;
}

.btn-alt {
	padding: 5px;
	width: 130px;
}

.btn-alt img:first-child {
	margin-bottom: 2px;
}

.btn-alt img:last-child {
	margin-top: 2px;
}

.nav p {
	margin-bottom: 5px;
	padding-left: 5px;
	padding-top: 5px;
}
/*
		==========
		Header
		==========
*/

.image img {
	max-width: 960px;
}

/*
		==========
		Resume
		==========
*/

.resume h3, h4, h5, li {
	text-align: left;
}

.resume h3 {
	font-size: 20px;
}

.resume h4 {
	font-size: 18px;
	font-weight: 600;
}

.resume h5 {
	font-weight: 500;
}

.resume p {
	font-weight: 500;
}

.resume a {
	width: 140px;
}
